@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
body {
	background: #9bbbfd;
}
.logoQuiz {
	position: absolute;
	top: 4vh;
	left: 40wh;
	transform: scale(20%);
	filter: opacity(0);
	transition: all 1s;
	z-index: 9999999;
}
.firstMessage {
	color: white;
}
.present0 {
	filter: opacity(1);
	color: #ede1e1;
	//letter-spacing: 0.4em;
	font-family: "Amatic SC";
	position: absolute;
	font-size: 500%;
	//text-shadow: 2px 0 4px #3d3d3d;
	top: 30vh;
	left: 20%;
	transition: all 1s;
}
.present1 {
	filter: opacity(1);
	color: #ede1e1;
	//letter-spacing: 0.4em;
	font-family: "Amatic SC";
	position: absolute;
	font-size: 500%;
	//text-shadow: 2px 0 4px #3d3d3d;
	top: 50vh;
	left: 67%;
	transition: all 1s;
}
.buttonQuiz {
	position: absolute;
	transform: scale(0.2);
	filter: opacity(0);
	transition: all 1s;
}
.nameTeams {
	position: absolute;
	font-family: "Amatic SC";
	font-size: 500%;
	color: #ede1e1;
	filter: opacity(0);
	transition: all 1s;
}
.textTeam {
	filter: opacity(0);
	color: #ede1e1;
	//letter-spacing: 0.4em;
	font-family: "Amatic SC";
	position: absolute;
	font-size: 500%;
	//text-shadow: 2px 0 4px #3d3d3d;
	top: 30vh;
	left: 30%;
	transition: all 3s;
}